<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content=" Templates have been developped by Raghav" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/images/apple-icon-180x180.png">
    <link rel="icon" href="../static/assets/images/favicon1.png" type="image/png" sizes="16x16">

    <title>Details</title>

    <link href="../static/css/main.3f6952e4.css" rel="stylesheet">
    <style>
        table {
            border-collapse: collapse;
        }
        
        td {
            vertical-align: bottom;
        }
        
        th,
        td {
            text-align: center;
            padding: 15px;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
            color: blue;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
        }
        
        th {
            background-color: #4CAF50;
            color: black;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
        }
        
        tr:nth-child(even) {
            background-color: cyan
        }
        
        p {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 13px;
        }
    </style>
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="./index.html" title=""> Home</a></li>
                        <li><a href="./works.html" title="">Works</a></li>
                        <li><a href="./about.html" title="">About me</a></li>
                        <li><a href="./contact.html" title="">Contact</a></li>

                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-container-spacer text-center">
                        <h1 class="h2">About me</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <h3>Background</h3>
                                    <p>Basically, belong to Bihar, currently living in Noida but eager to re-locate.I did B.tech in 2016</p>
                                    <h3>Experience </h3>
                                    <p>I started my career with Internship as Patent Associate , thereafter joined TCS and currently working in that. I worked in several project,currently working as oracle techno-functional consultant in Inventory Module
                                        in support project </p>
                                    <h3>Skillset</h3>
                                    <p>
                                        I have acquired certification in Machine Learning and python. Along with, I know flask and javascipt, I devloped this site through HTML,CSS,Javascript and python Flask Framework
                                        <table>
                                            <tr>
                                                <th> Technical</th>
                                                <th>Functional</th>
                                                <th> Frameworks</th>
                                            </tr>
                                            <tr>
                                                <td> PYTHON</td>
                                                <td>Oracle Inventory Functional</td>
                                                <td>Flask</td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    Machine Learning
                                                </td>
                                                <td>
                                                    Oracle Setup Functional(all Modules)
                                                </td>
                                                <td>
                                                    SQL-Server
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    javascript
                                                </td>
                                                <td></td>
                                                <td>Oracle Sql Devloper</td>
                                            </tr>
                                            <tr>
                                                <td>SQL</td>
                                                <td> </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>HTML/CSS </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>

                                        </table>

                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <img src="..static/assets/images/profile.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>© Raghav Jha | Website created by Raghav Jha </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navActivePage();
        });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./main.70a66962.js"></script>
</body>

</html>