<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content=" templates have been developped by Raghav" name="author">
    <meta http-equiv="refresh" content="10; url = index.html" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
    <link href="../static/assets/images/favicon.ico" rel="icon">

    <title>Submit</title>

    <link href="../static/css/main.3f6952e4.css" rel="stylesheet">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 13px;
        }
        
        p {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 13px;
        }
    </style>
</head>

<body>

    <body class="minimal">
        <div id="site-border-left"></div>
        <div id="site-border-right"></div>
        <div id="site-border-top"></div>
        <div id="site-border-bottom"></div>
        <!-- Add your content of header -->
        <header>
            <nav class="navbar  navbar-fixed-top navbar-inverse">
                <div class="container">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>


                </div>
            </nav>
        </header>
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div>
                                            <p> Hi, {{name}} , your form is submitted. Please call me else I will call you shortly.</p>
                                        </div>

                                        <div>
                                            <p>
                                                you'll be redirected to Homepage, in 10 seconds.

                                            </p>
                                        </div>
                                        <div>
                                            <p><a href="index.html">Click Here</a> if you have not redirected </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <footer class="footer-container text-center">
            <div class="footer">
                <div class="row">
                    <div class="col-xs-12">
                        <p>© Raghav Jha | Website created by Raghav Jha
                    </div>
                </div>
            </div>
        </footer>
    </body>